
.container{
  text-align: center;
  margin: 20px;



  .result-container{
    float:right;
    width: 50%;
  }

  .form-container{
    float:left;
    width: 50%;
  }

}


.form-field{
  display: block
}
